
    @{
        ViewBag.Title = "Home Page";
        ViewBag.Description = "We are selling and repair all brands of watches,and our estabilishmet is in Bjeljina,Bosnia";
        ViewBag.Keywords = "watches,watch,repair,shop,sales,";
    }


<div id="header-featured">
    <div class="pocetna">
        <h1>Welcome to the WatchMaker</h1>
        <h2>Best services in the world</h2>
        <a href="#" class="button">Start</a>
    </div>
</div>

