@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    ViewBag.Title = "Stats";
        }
<div id="extra" class="container">

    <div class="ikonice">
        <i class="fa fa-id-badge" style="font-size:120px"></i>
        <p>Specialists</p>
        <h1>3</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ex sit amet lorem euismod, eu feugiat diam imperdiet. Nunc quis eros nec orci dictum ultricies. Suspendisse congue iaculis tristique. Praesent nec blandit nunc. Duis volutpat magna quam, non pretium ipsum varius non. Donec at libero nec nunc iaculis semper. Cras tempus risus congue tristique lobortis. Vestibulum pretium, dui lacinia suscipit fringilla, nunc risus bibendum felis, ultrices luctus tortor neque ut erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi quam erat, consectetur et purus a, posuere tristique turpis.</p>
   <hr style="color:white;" />
    </div>
    <div class="ikonice">
        <i class="fa fa-group" style="font-size:120px"></i>
        <p>Happy clients</p>
        <h1>1000+</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ex sit amet lorem euismod, eu feugiat diam imperdiet. Nunc quis eros nec orci dictum ultricies. Suspendisse congue iaculis tristique. Praesent nec blandit nunc. Duis volutpat magna quam, non pretium ipsum varius non. Donec at libero nec nunc iaculis semper. Cras tempus risus congue tristique lobortis. Vestibulum pretium, dui lacinia suscipit fringilla, nunc risus bibendum felis, ultrices luctus tortor neque ut erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi quam erat, consectetur et purus a, posuere tristique turpis.</p>
        <hr style="color:white;" />
    </div>
    <div class="ikonice">
        <i class="fa fa-check-square" style="font-size:120px;"></i>
        <p>Successful Cases</p>
        <h1>1000+</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ex sit amet lorem euismod, eu feugiat diam imperdiet. Nunc quis eros nec orci dictum ultricies. Suspendisse congue iaculis tristique. Praesent nec blandit nunc. Duis volutpat magna quam, non pretium ipsum varius non. Donec at libero nec nunc iaculis semper. Cras tempus risus congue tristique lobortis. Vestibulum pretium, dui lacinia suscipit fringilla, nunc risus bibendum felis, ultrices luctus tortor neque ut erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi quam erat, consectetur et purus a, posuere tristique turpis.</p>
        <hr style="color:white;" />
    </div>
    <div class="ikonice">
        <i class="fa fa-trophy" style="font-size:120px"></i>
        <p>Awards</p>
        <h1>28</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ex sit amet lorem euismod, eu feugiat diam imperdiet. Nunc quis eros nec orci dictum ultricies. Suspendisse congue iaculis tristique. Praesent nec blandit nunc. Duis volutpat magna quam, non pretium ipsum varius non. Donec at libero nec nunc iaculis semper. Cras tempus risus congue tristique lobortis. Vestibulum pretium, dui lacinia suscipit fringilla, nunc risus bibendum felis, ultrices luctus tortor neque ut erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi quam erat, consectetur et purus a, posuere tristique turpis.</p>
        <hr style="color:white;" />
    </div>
</div>
