@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{

    ViewBag.Title = "Testimonials";
}

<div class="container1">
    <img src="~/slike/t1.jpg" alt="Avatar" style="width:90px">
    <p><span>Chris Fox.</span> CEO at Mighty Schools.</p>
    <p>John Doe saved us from a web disaster.</p>
</div>

<div class="container1">
    <img src="~/slike/t2.jpg" alt="Avatar" style="width:90px">
    <p><span>Rebecca Flex.</span> CEO at Company.</p>
    <p>No one is better than John Doe.</p>
</div>
<div class="container1">
    <img src="~/slike/t3.jpg" alt="Avatar" style="width:90px">
    <p><span>Rebecca Flex.</span> CEO at Company.</p>
    <p>No one is better than John Doe.</p>
</div>